/* Variables */
$blue: #007BC8;
$yellow: #ECCC2E;

$green: #30852C;
$red: #e51c23;

@mixin rgbashadow($x, $y, $blur, $rgb, $transparency) {
  -webkit-box-shadow: $x $y $blur rgba($rgb, $transparency);
  -moz-box-shadow:    $x $y $blur rgba($rgb, $transparency);
  box-shadow:         $x $y $blur rgba($rgb, $transparency);
}
body.express-editor-notes {
  padding-bottom: 60px !important;
  #cu_back_to_top {
    bottom: 50px;
  }

}
@media screen and (max-width:600px) {

  body.express-editor-notes {
    padding-bottom: 120px !important;
    .express-editor-notes-toolbar h2 {

    }
    #cu-feedback {
      bottom:40px;
    }
  }

}
.express-editor-notes-container {

  display:none;
  margin-bottom:20px;
  //background-color: #f5f5f5;
  //@include rgbashadow(0,0,5px,#000, .25);
  font-size:75%;
}
.express-editor-notes-toolbar {
  background-color: #444;
  color:#fff;
  padding: 0 20px;
  position: relative;

  display:flex;
  a:link, a:visited {

    color:#fff;
    font-weight: 600;
    display: inline-block;
    padding:0 20px;
    line-height: 40px;
    i.fa {
      color:#fff;
    }
    &.express-editor-notes-view-toggle {
      background: $blue;
    }
  }

  a:hover,
  a:focus {
    color:#fff;
    i.fa {
      color:#fff;
    }
  }
  h2 {
    display: inline-block;
    font-size: 100%;
    margin:0;
    background: #222;
    color:#fff;
    padding-left:20px;
    padding-right: 20px;
    margin-left:-20px;
    line-height: 40px;
  }
  a.express-editor-notes-label-link {

    color:#fff;
    padding:0;
    i.fa {
      color:#fff;
    }
    h2 {
      background: $blue;
    }
  }
  h2.notes-active {
    //background: $yellow;
    //color:#000;
    i.fa {
      //color:$yellow;
    }
  }
}
.express-editor-notes-closed {

  #express-editor-notes-content {
    display: none;
  }
  .express-editor-notes-toolbar .express-editor-notes-close {
    display: none;
  }
}
.express-editor-notes-open {
  .express-editor-notes-toolbar a.express-editor-notes-close {
    position: absolute;
    right:10px;
    top:0;
    padding:0 10px;
    line-height: 40px;
    display: block;
    color:#fff !important;
    font-size: 125%;
    i.fa {
      color:#fff;
    }
  }
}

.express-editor-notes-content {
  padding: 20px 0;
  .wysiwyg-toggle-wrapper {
    background: #333;
    padding:5px;
    color:#fff;
    font-weight: bold;
    a {
      color:#fff;
    }
    a:before {
      content: '\f121';
      font-family: FontAwesome;
      padding-right:5px;
    }
    a:hover {
      color:#fff;
    }
  }
}
.express-editor-form-actions {
  padding: 10px 0;
  input{
    margin-right:10px;

  }
  #edit-submit {

  }
  #edit-cancel {

  }
}

.express-editor-note-single {
  background-color: #fff;
  //border:1px solid #e7e7e7;
  //padding:10px;
  margin-bottom: 10px;
  .express-editor-note-header {
    padding:10px;
    background:#ddd;
  }

  &[class*="admin"] {
    .express-editor-note-header {
      background: $red;
      color:#fff;
    }
  }
  .express-editor-note-footer {
    padding:5px 10px;
  }
  h3 {
    margin:0;
    font-size: 110%;
  }
  .express-editor-note-type {
    text-transform: uppercase;
  }
  .express-editor-note-content {
    padding: 10px;

  }
  .express-editor-note-meta {
    //color:#656565;
    ul, li {
      list-style: none;
      list-style-image: none;
      margin:0;
      padding:0;
    }
    li {
      display: inline-block;

    }
    li:not(:first-child):before {
      content: '|';
      margin-right:5px;
      margin-left:5px;
    }
  }
}
.express-editor-note-status-open {
  border-left:5px solid $red;
}
.express-editor-note-status-closed {
  border-left:5px solid $green;
}
.express-editor-note-status {
  margin-bottom: 5px;
}

/* editor theme tab icon */
ul.tabs--primary li a.editor-notes:before, h1.page-title.icon-editor-notes:before {
    content: "\f040";
}

.express-editor-notes-none {
  display: inline-block;
  padding:0 20px;
}

/* editor Notes Form */
.express-editor-notes-form {
  padding: 20px 0;

  .form-text {
    background: #fff;
  }
}
#edit-editor-note-message-format {
  display: none;
}

ul.primary li a.editor-notes:before {
    content: "\f24a";
}
